body {
  background: white;
  text: black;
  font-family: arial, sans-serif;
  width: 700px;
}
table {
  border-collapse: collapse;
  width: 700px;
}
table tr {
  vertical-align: top;
}
p {
}
table td {
  padding: 4px;
}
img {
    padding-top: 10px;
    margin-left: -10px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
table tr {
  vertical-align: middle;
  cursor: pointer;
  background: -ms-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -moz-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -o-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #E0E0E0));
  background: -webkit-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: linear-gradient(to bottom, #F0F0F0 0%, #E0E0E0 100%);
}
table tr.checked {
  vertical-align: middle;
  cursor: pointer;
  background: -ms-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -moz-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -o-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80F080), color-stop(1, #80E080));
  background: -webkit-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: linear-gradient(to bottom, #80F080 0%, #80E080 100%);
}
td > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
}
tr.date {
    background: #c0c0ff;
    border-top: 1px solid black;
}
tr.date td {
    text-align: right;
    padding-right: 8px;
}
tr.invisible {
  display: none;
}
span.venue {
  padding-right: 10px;
  white-space: nowrap;
  display:inline-block;
}
div#selector {
  padding-bottom: 10px;
  margin-left: -4px;
}
td.show {
  padding-left: 15px;
  vertical-align: middle;
}

/* Center everything */
html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
}
