body {
  background: white;
  text: black;
  font-family: arial, sans-serif;
  max-width: 1000px;
}
div#body-container {
  overflow: hidden;
}
table.events {
  border-collapse: collapse;
  max-width: 800px;
  float: left;
}
div#selector {
  padding-bottom: 10px;
  margin-left: 10px;
  width: 140px;
  float: right;
}
table.events tr td {
  vertical-align: middle;
}
p {
}
table.events td {
  padding: 0px;
  vertical-align: middle;
}
img#logo {
  padding-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  display: block;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
table.events tr {
  cursor: pointer;
  background: -ms-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -moz-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -o-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #E0E0E0));
  background: -webkit-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: linear-gradient(to bottom, #F0F0F0 0%, #E0E0E0 100%);
  height: 45px;
}
table.events tr.checked {
  vertical-align: middle;
  cursor: pointer;
  background: -ms-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -moz-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -o-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80F080), color-stop(1, #80E080));
  background: -webkit-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: linear-gradient(to bottom, #80F080 0%, #80E080 100%);
}
table.events td > a {
  width: 100%;
  display: inline-block;
  padding: 3px;
  padding-left: 10px;
  margin: 0px;
}
table.events tr.date {
  background: #800000;
  color: white;
  height: 30px;
}
table.events tr.date td {
  text-align: right;
  padding-right: 8px;
}
.invisible {
  display: none;
}
table.events tr td:first-child {
  padding-right: 10px;
}
table.events tr td:nth-child(2) {
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  min-width: 100px;
}
div.help {
  max-width: 500px;
  background: white;
}
div.help a {
  display: inline;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background: white;
  padding: 0px;
}

div.help {
  max-width: 500px;
  background: white;
}
div.help a {
  display: inline;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background: white;
}

span.venue {
  padding-right: 10px;
  white-space: nowrap;
  display: block;
}
table.events td.show {
  padding-left: 15px;
  padding-right: 10px;
  vertical-align: middle;
}
div.export {
  padding-top: 10px;
  margin-left: 3px;
}
div.export a {
  cursor: pointer;
}

/* Center everything */
html, body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
}
span.venue-name {
  cursor: pointer;
  font-weight: bold;
}
div.explanation {
  margin-bottom: 10px;
}

div#small-heading {
  display: none;
}

@media only screen and (max-width: 600px) {
  /* Style adjustments for small screens. */
  html {
    display: block;
    margin: none;
  }
  body {
    width: 100%;
    display: block;
    margin: 0px;
  }
  table.events {
    width: 100%;
    float: none;
    margin-top: 38px;
  }
  div#large-heading {
    display: none;
  }
  div#small-heading {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: #3030a0;
    background: linear-gradient(to bottom, #3030a0 0%, #100150 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3030a0), color-stop(1, #100150));
    background: -webkit-linear-gradient(top, #3030a0 0%, #100150 100%);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
  }
  div#small-heading a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  div#small-heading img#small-menu {
    position: absolute;
    top: -2px;
    left: 10px;
  }
  table.events tr td:nth-child(3) {
    display: none;
  }
  table.events tr td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    min-width: 70px;
    padding-right: 10px;
  }
  div#selector {
    display: none;
  }
  div.outer-venue-logo {
    position: relative;
    height: 200px;
    background: white !important;
    text-align: center;
    display: block;
    width: 100%;
  }
  div.outer-venue-logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img#small-menu {
    padding-top: 10px;
  }

  div.event-text {
    background: white;
    text-align: center;
    display: block;
    font-weight: bold;
    width: 100%;
  }
  div.event-text div {
    padding: 20px;
  }
}

.event-lightbox {
  padding-top: 0px;
  padding-bottom: 35px;
  text-align: center;
  background: #105010;
}
.event-lightbox a {
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}
.event-lightbox button {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font: inherit;
  font-weight: bold;
  font-family: arial, sans-serif;
}
.event-lightbox div.search {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
}
.event-lightbox div.venue {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: inherit;
}
.event-lightbox div.venue-top {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom, #808080 0%, #404040 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(1, #404040));
  background: -webkit-linear-gradient(top, #808080 0%, #404040 100%);
}
.event-lightbox div.checked {
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
}
.event-lightbox div.unchecked {
  background: linear-gradient(to bottom, #a04040 0%, #501010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a04040), color-stop(1, #501010));
  background: -webkit-linear-gradient(top, #a04040 0%, #501010 100%);
}
table.events td.thumb-logo {
  text-align: center;
  vertical-align: middle;
}
td.thumb-logo img {
  vertical-align: middle;
}
div.apps {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #808080;
}
.map-marker-label {
  position: absolute;
  color: black;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
div.map-heading {
  text-align: center;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  color: white;
  font-weight: bold;
  padding-top: 8px;
}
