body {
  background: white;
  color: black;
  font-family: arial, sans-serif;
}
div#body-container {
  overflow: hidden;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
table.events {
  border-collapse: separate;
  border-spacing: 0px;
  max-width: 800px;
  float: left;
}
div#selector {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 140px;
  display: inline-block;
  background: #c0c0c0;
}
table.events tr td {
  vertical-align: middle;
}
table.events tr.date td {
  vertical-align: middle;
  font-weight: bold;
}
table.events tr td a {
  padding: 8px;
}
p {
}
table.events td {
  padding: 10px;
  vertical-align: middle;
}
img#logo {
  padding-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  display: block;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
table.events tr {
  cursor: pointer;
  background: linear-gradient(to bottom, #F0F0F0 0%, #E0E0E0 45px);
}
table.events tr.checked {
  vertical-align: middle;
  cursor: pointer;
  background: linear-gradient(to bottom, #70d070 0%, #50a050 45px);
}
table.events td > a {
  width: 100%;
  display: inline-block;
  padding: 3px;
  padding-left: 10px;
  margin: 0px;
}
table.events tr.date {
  background: #800000;
  color: white;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 10px 0px;
}
.expand {
  background-image: url("expand1x.png") !important;
}
.collapse {
  background-image: url("collapse1x.png") !important;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .expand {
    background-image: url("expand2x.png");
  }
  .collapse {
    background-image: url("collapse2x.png");
  }
}
table.events tr.date td {
  text-align: right;
  padding-right: 8px;
}
.invisible {
  display: none;
}
table.events tr td:first-child {
  padding-right: 10px;
}
table.events tr td:nth-child(2) {
  white-space: nowrap;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
  min-width: 100px;
}
div.wrapper {
  width: 100%;
  text-align: center;
}
div.help {
  display: inline-block;
  max-width: 500px;
  background: linear-gradient(to bottom, #F0F0F0 0%, #a0a0a0 100%);
  padding: 10px;
  border-radius: 5px;
}
div.help a {
  display: inline;
  color: black;
  text-decoration: none;
  font-weight: bold;
  background: transparent !important;
  padding: 0px;
}


span.venue {
  width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
table.events td.show {
  padding-left: 15px;
  padding-right: 10px;
  vertical-align: middle;
}
div.export {
  padding-top: 10px;
  margin-left: 3px;
}
div.export a {
  cursor: pointer;
}

input#dark {
  margin-top: 10px;
}
span.dark-name {
  position: relative;
  top: -3px;
}
span.venue-name {
  cursor: pointer;
  font-weight: bold;
  position: relative;
  top: -3px;
}
div.explanation {
  margin-bottom: 10px;
  margin-top: 10px;
}

div#small-heading {
  display: none;
}

div#large-heading {
  border: 0px solid black;
  text-align: center;
  width: 100%;
  height: 200px;
  background-image: url("splash-back1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  font-family: 'Passion One', cursive;
  text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 20px black;
}

div#large-heading div.title {
  padding-top: 30px;
  font-size: 100px;
}

div#large-heading div.subtitle {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  /* Style adjustments for small screens. */
  html {
    display: block;
    margin: none;
  }
  body {
    width: 100%;
    display: block;
    margin: 0px;
  }
  table.events {
    width: 100%;
    float: none;
    margin-top: 38px;
  }
  div#large-heading {
    display: none;
  }
  div#small-heading {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: bold;
    text-align: center;
    background: #3030a0;
    background: linear-gradient(to bottom, #3030a0 0%, #100150 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3030a0), color-stop(1, #100150));
    background: -webkit-linear-gradient(top, #3030a0 0%, #100150 100%);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    z-index: 1000;
  }
  div#small-heading a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  table.events tr td:nth-child(3) {
    display: none;
  }
  table.events tr td:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
    min-width: 70px;
    padding-right: 10px;
  }
  div#selector {
    display: none;
  }
  div.outer-venue-logo {
    position: relative;
    height: 200px;
    background: white !important;
    text-align: center;
    display: block;
    width: 100%;
  }
  div.outer-venue-logo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  img#small-menu {
    padding-top: 10px;
  }

  div.event-text {
    background: white;
    text-align: center;
    display: block;
    font-weight: bold;
    width: 100%;
  }
  div.event-text div {
    padding: 20px;
  }
}

.event-lightbox {
  padding-top: 0px;
  padding-bottom: 35px;
  text-align: center;
  background: #105010;
  z-index: 2000;
}
.event-lightbox a {
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to bottom, #40a040 0%, #207020 100%);
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}
.event-lightbox button {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font: inherit;
  font-weight: bold;
  font-family: arial, sans-serif;
}
.event-lightbox div.search {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
}
.event-lightbox div.venue {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  font-family: arial, sans-serif;
  font-size: inherit;
}
.event-lightbox div.venue-top {
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 0px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom, #808080 0%, #404040 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #808080), color-stop(1, #404040));
  background: -webkit-linear-gradient(top, #808080 0%, #404040 100%);
}
.event-lightbox div.checked {
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #40a040), color-stop(1, #105010));
  background: -webkit-linear-gradient(top, #40a040 0%, #105010 100%);
}
.event-lightbox div.unchecked {
  background: linear-gradient(to bottom, #a04040 0%, #501010 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a04040), color-stop(1, #501010));
  background: -webkit-linear-gradient(top, #a04040 0%, #501010 100%);
}
table.events td.thumb-logo {
  text-align: center;
  vertical-align: middle;
}
td.thumb-logo img {
  padding-top: 3px;
}
div.apps {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #808080;
}
.map-marker-label {
  display: block;
  text-align: center;
  position: absolute;
  width: 100px;
  border: 1px solid black;
  color: black;
  font-size: 12px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px;
  border-radius: 5px;
}
.map-marker-label span {
  font-size: 10px;
  font-weight: normal;
  display: block;
 }
div.map-heading {
  text-align: center;
  width: 100%;
  height: 25px;
  background: linear-gradient(to bottom, #40a040 0%, #105010 100%);
  color: white;
  font-weight: bold;
  padding-top: 6px;
}
div.map-heading span {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #808080;
}
div.distance {
  font-weight: normal !important;
  font-size: 12px;
}

.box-shadow-menu {
  position: relative;
  float: left;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 8px;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: white;
  box-shadow: 
    0 0.3em 0 0 white,
    0 0.6em 0 0 white;
}
div#small-menu {
  position: absolute;
  top: 9px;
  left: 2px;
  margin-left: 3px;
  height: 20px;
  width: 35px;
}
div.summary {
  display: block;
  height: 200px;
  position: absolute;
  left: 0px;
  overflow: hidden;
  z-index: 500;
  background: linear-gradient(to bottom, #E0E0E0 0%, #D0D0D0 100%);
}
div.summary div {
  margin: 10px;
}
div.summary img {
  float: left;
  padding-right: 20px;
}

div#event-summary {
  width: 100%;
  background-color: white;
}

div#event-summary table {
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

div#event-summary table td#event-text {
  padding: 20px;
}

div#event-summary table td {
  margin: 0px;
}

body {
  width: 100%;
  margin: 0px;
}

html {
}

