body {
  background: white;
  text: black;
  font-family: arial, sans-serif;
  max-width: 1000px;
}
div#body-container {
  overflow: hidden;
}
table {
  border-collapse: collapse;
  max-width: 800px;
  float: left;
}
div#selector {
  padding-bottom: 10px;
  margin-left: 10px;
  width: 140px;
  float: right;
}
table tr {
  vertical-align: top;
}
p {
}
table td {
  padding: 4px;
}
img {
  padding-top: 10px;
  margin-left: -10px;
  cursor: pointer;
  display: block;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
table tr {
  vertical-align: middle;
  cursor: pointer;
  background: -ms-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -moz-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -o-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #E0E0E0));
  background: -webkit-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: linear-gradient(to bottom, #F0F0F0 0%, #E0E0E0 100%);
}
table tr.checked {
  vertical-align: middle;
  cursor: pointer;
  background: -ms-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -moz-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -o-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #80F080), color-stop(1, #80E080));
  background: -webkit-linear-gradient(top, #80F080 0%, #80E080 100%);
  background: linear-gradient(to bottom, #80F080 0%, #80E080 100%);
}
td > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
}
tr.date {
  background: #800000;
  color: white;
}
tr.date td {
  text-align: right;
  padding-right: 8px;
}
.invisible {
  display: none;
}
tr td:first-child {
  padding-right: 10px;
}
tr td:nth-child(2) {
  white-space: nowrap;
  padding-left: 10px;
  font-weight: bold;
}
span.venue {
  padding-right: 10px;
  white-space: nowrap;
  display: block;
}
td.show {
  padding-left: 15px;
  vertical-align: middle;
}
div.export {
  padding-top: 10px;
  margin-left: 3px;
}
div.export a {
  cursor: pointer;
}

/* Center everything */
html, body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
}
span.venue-name {
  cursor: pointer;
  font-weight: bold;
}
div.explanation {
  margin-bottom: 10px;
}
.lightbox {
  background: #a0a0a0;
  color: black;
  padding: 10px;
}
