body {
  background: white;
  text: black;
  font-family: arial, sans-serif;
}
table {
  padding-top: 25px;
  max-width: 1000px;
}
table tr {
  vertical-align: top;
}
p {
  padding-left: 84px;
}
table td {
  padding: 4px;
  padding-right: 8px;
  padding-left: 80px;
}
img {
  padding-top: 10px;
  padding-left: 30px;
}
a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
table tr td:first-child {
  white-space: nowrap;
}
table tr td:nth-child(2) {
  cursor: pointer;
}
table tr td:nth-child(3) {
  padding: 0px;
  margin: 0px;
}
td > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 5px;
  padding-left: 10px;
  margin: 0px;
  font-weight: normal;
  background: -ms-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -moz-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -o-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F0F0F0), color-stop(1, #E0E0E0));
  background: -webkit-linear-gradient(top, #F0F0F0 0%, #E0E0E0 100%);
  background: linear-gradient(to bottom, #F0F0F0 0%, #E0E0E0 100%);
}
div.invisible {
  display: none;
}
tr.hidden {
  display: none;
}
label.venue {
  padding-right: 10px;
}
div#selector {
  padding-top: 10px;
  padding-left: 80px;
}
