body {
  background: black !important;
  color: #e0e0e0;
}

div#selector {
  background: #202020;
}

a {
  color: #e0e0e0;
}

table.events tr {
  cursor: pointer;
  background: linear-gradient(to bottom, #303030 0%, #404040 45px);
  color: #e0e0e0 !important;
}

div.help a {
  color: black;
}

div.summary {
  background: linear-gradient(to bottom, #404040 0%, #202020 100%);
}

td#event-text, td#event-image {
  background: black !important;
  color: white !important;
}

div.outer-venue-logo {
  background: black !important;
}

div#meta-hidden div.export {
  background: linear-gradient(to bottom, #303030 0%, #404040 45px);
}

div.margin-image-wrap {
  background: linear-gradient(to bottom, #303030 0%, #404040 100%);
}
